/* -------------------------------------------------------------------------- */
/*                              Custom Properties                             */
/* -------------------------------------------------------------------------- */

:root {

    /* Colors */
    --primary-color: 351 58% 41%;
    --primary-color-tint: 356 100% 82%;
    --primary-color-shade: 357 100% 17%;
    --text-color: 203 30% 26%;
    --white-color: 0 0% 100%;

    /* Font sizes */
    --fs-700: 3.625rem;
    --fs-600: 3rem;
    --fs-500: 1.625rem;
    --fs-400: 1.5rem;
    --fs-300: 1rem;

    /* Font Families */
    --ff-heading: 'Montserrat', sans-serif;
    --ff-text: 'Source Sans Pro', sans-serif;

}